<html>
    <head>
        <title>Blog App </title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" integrity="sha512-dEiw9Y+mvqQrQC3EwAKP4Bc9LGyola/4tCIRCq7c7VytHO9HUVW7+CmXCirQvLhx4EwqSbUulm6FlG1wHO/SSg==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/components/form.min.css" integrity="sha512-U5epDUOZPgo6rL3DwEhOkxJ6VERowu0pV88g6ALuz5ih2EJJkjj+o/3puKN0MG7LhG5RznMbqRTRduHtps/dTA==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        
    </head>
    <body>
        <div  class="ui fixed inverted menu">
            <div  class="ui container">
                <div class="header item"> <i class="stumbleupon icon"></i> आपल गिरगाव</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New post</a>
                <a href="/blogs/login" class="item">User Login</a>
                <a href="/blogs/register" class="item">Registration</a>
            </div>
        </div>
        <!-- <p>From the header file</p> -->
