<%- include ("./partials/header")  %>

<div class="star container">
    <h5>*************************************************</h5>
</div>
<div class="star  container">
    <h5>*************************************************</h5>
</div>
<div class="star container">
    <h5>*************************************************</h5>
</div>


<div class="ui inverted segment">
  <div class="ui inverted form">
    <div class="two fields">
      <div class="field">
        <label>Email Address</label>
        <input type="email" placeholder="Email Address" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" placeholder="Password" type="text">
      </div>
    </div>
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0">
        <label>I agree to the terms and conditions</label>
      </div>
    </div>
    <div class="ui submit button">Submit</div>
  </div>
</div>


<%- include ("./partials/footer")  %>